<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="ibox">
        <div class="ibox-title">
          <h1><%= ibox_title %></h1>
        </div>
        <div class="ibox-content">
          <div class="table-responsive">
            <table class="table table-striped tablet breakpoint table-hover">
              <thead>
                <tr>
                  <% model_attributes.each do |attribute| %>
                  <th><%= attribute.humanize %></th>
                  <% end %>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% unless blank? %>
                <%= cell(item_cell, collection: model) %>
                <% else %>
                <tr class="warning"><td colspan="8" class="text-center"><% no_item_message %></td></tr>
                <% end %>
              </tbody>
            </table>
            <hr/>
            <%= link_to new_element_path, class: "btn btn-sm btn-default" do %>
            <i class="fa fa-plus"></i>
            <%= new_element_label %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
